@use "../../baseCSS/Text";
@use "../../baseCSS/Colours";

.SectionContainer {
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: flex-start;
	border: 1px red solid;
}
.TitleContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 15rem;
}
.Title{
	font-weight: 800;
	font-size: Text.$text2XL;
	font-family: "Cyber";
	text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
	z-index: 1;
	color: white;
	margin-block: 0;
	padding-left: 3rem;
}
.TitleUnderLine{
	height: 5px;
	width: 600px;
	margin-left: 3rem;
	border-radius: 1rem;
	background-image: linear-gradient(
			to left,
		transparent 25%,
		Colours.$lightBlueGlow ,
		white 100%,
		transparent
	);
	}

.ContactMeTagline{
	margin-block: 0;
	margin-left: 3rem;
	margin-top: 0.4rem;
	padding: 0.1rem;
	font-size: Text.$textXS;
	color: Colours.$lightBlue;
	background-color: #ff0000;
}
.Links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: Text.$textXXXS;
	padding: 0;
	margin: 0;
	max-width: 150px;
	width: 300px;
	height: 100%;
	cursor: pointer;
	border-radius: 3rem;
	transition: 0.2s cubic-bezier(0.5, 0.25, 0, 1);
	color: white;

	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 3rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: Colours.$tropicalSea;
		transition: 0.4s cubic-bezier(0.5, 0.25, 0, 1);
		transition-delay: 0.05s;
		border-radius: 3rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}