@use "../../baseCSS/Text";
@use "../../baseCSS/Colours";

.SectionContainer {
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.TitleContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.Title{
	font-weight: 800;
	font-size: Text.$text2XL;
	font-family: "Cyber";
	text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
	z-index: 1;
	color: white;
	margin-block: 0;
	padding-left: 3rem;
}
.TitleUnderLine{
	height: 5px;
	width: 600px;
	margin-left: 3rem;
	border-radius: 1rem;
	background-image: linear-gradient(
			to left,
		transparent 25%,
		Colours.$lightBlueGlow ,
		white 100%,
		transparent
	);
	}

.ContactMeTagline{
	margin-block: 0;
	padding-left: 3rem;
	padding-top: 0.4rem;
	font-size: Text.$textXS;
	width: 450px;
	text-wrap: wrap;
	color: Colours.$lightBlue;
}
.Links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: Text.$textXXXS;
	padding: 0;
	margin: 0;
	max-width: 150px;
	width: 300px;
	height: 100%;
	cursor: pointer;
	border-radius: 3rem;
	transition: 0.2s cubic-bezier(0.5, 0.25, 0, 1);
	color: white;

	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 3rem;
		z-index: -2;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: Colours.$tropicalSea;
		transition: 0.4s cubic-bezier(0.5, 0.25, 0, 1);
		transition-delay: 0.05s;
		border-radius: 3rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

.ImagesContainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
    width: 470px; 
    height: 100dvh;
	margin-right: 6rem;
	
}
.Image1Container{
	width: fit-content;
    &:hover .Tooltip {
        opacity: 1;
    }
}
.Tooltip{
	padding: 6px;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	width: fit-content;
	white-space: nowrap;
	word-wrap: no-wrap;
	box-shadow: 1px 1px 20px Colours.$lightBlueGlow;
	border: 1px solid Colours.$tropicalSea;
	border-radius: 13px;
	background-color: Colours.$tropicalSea;
	font-weight: 700;
	color: black;
	--final-top-tool: calc(50dvh + 70px);
	--final-left-tool: 25px;
	opacity: 0;
	transition: opacity 0.2s ease;
	animation: moveToPositionTooltip 1.3s ease forwards;
	white-space: nowrap;
	pointer-events: none;
	z-index: 3;
}

.Image{
	width: 250px;
	height: 250px;

	clip-path:inset(44px 8px 35px 8px round 16px);
	// animation: moveToPosition 1.3s ease forwards;

	&:hover{
		filter: brightness(50%);
		cursor: pointer;

	}

}


@media (max-width: 1500px) {
	.SectionContainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	// .ImageContainer{
	// 	height: 100%;
	// }
}