$lightBlueGlow: #4cceff;
$lightBlue: #47b3f0;
$solidBlue: #5546ff;
$tropicalSea: #38cdd6;
$neonPurple: #a340f4;
$neonPurpleGlow: #b443ff;
$softPurple: #6c3893;
$lightPurple: #a26e9f;
$backgroundPurple: #c4b1ce;
$beige: #ffeed7;
$bitcoinOrange: #f69988;
$orange: #ffad9c;
$green: #86c470;
$backgroundDark: #272138;
$backgroundLighterDark: #2c273f;
$loadingOrange: #f26e3f;
$loadingRed: #f03554;
