$lightBlueGlow: #4cceff;
$lightBlue: #47b3f0;
$solidBlue: #5546ff;
$tropicalSea: #38cdd6;
$neonPurple: #a340f4;
$neonPurpleGlow: #b443ff;
$beige: #ffeed7;
$bitcoinOrange: #f69988;
$orange: #ffad9c;
$green: #86c470;
$backgroundDark: #272138;
$backgroundLighterDark: #2c273f;
