@use "Colours";

.PageContainer {
	display: grid;
	place-items: center;
	width: 100dvw;
	min-width: 325px;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(
		to left bottom,
		#6c3893,
		#5e3687,
		#52347a,
		#46316d,
		#3c2e60
	);
}
