@use "Colours";

.PageContainer {
	display: grid;
	place-items: center;
	width: 100dvw;
	min-width: 300px;
	margin: 0;
	padding: 0;
	background-color: Colours.$backgroundPurple;
	background-image: linear-gradient(
		to left bottom,
		#a26e9f,
		#aa7fac,
		#b290b8,
		#bba0c3,
		#c4b1ce
	);
}
