@use "../Text";
@use "../Colours";

.CardContent {
	overflow: hidden;
	width: 100%;
}
.CardTitle {
	font-size: 2.4rem;
	margin-block: 0;
	padding-left: 1rem;
}

.Bold {
	font-weight: bolder;
}
@mixin CardBeforeStyles {
	content: "";
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border-radius: 1rem;
	padding: 2px;
	background: linear-gradient(to bottom right, #272138, #554f5d, #272138);
	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
@mixin CardMainContentStyles {
	display: flex;
	align-items: center;
	background: Colours.$backgroundLighterDark;
	height: min(calc(100% - 60px), fit-content);
	margin-block: 0;
	padding: 1rem;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

//specifics

.SectionContainer {
	padding-top: 8vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Content {
	width: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: flex-start;
	gap: 30px;
	justify-items: center;
}
.LeftColum {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 30px;
	width: 485px;
}
.RightColum {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 485px;
}

.AboutCard {
	width: calc(485px - 2rem);
	height: fit-content;
	min-height: calc(460px - 2rem);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	.AboutParagraph {
		@include CardMainContentStyles;
	}
	.AboutParagraph::before {
		@include CardBeforeStyles;
	}
}
.Experience {
	width: calc(485px - 2rem);
	height: fit-content;
	min-height: calc(405px - 2rem);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	.ExperienceParagraph {
		@include CardMainContentStyles;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
	}
	.ExperienceParagraph::before {
		@include CardBeforeStyles;
	}
}

.SkillsCard {
	width: calc(485px - 2rem);
	height: fit-content;
	min-height: calc(265px - 2rem);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	.SkillsList {
		@include CardMainContentStyles;

		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
	}
	.SkillsList::before {
		@include CardBeforeStyles;
	}
}

.QualificationsCard {
	width: calc(485px - 2rem);
	height: fit-content;
	min-height: calc(210px - 2rem);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	.QualsList {
		@include CardMainContentStyles;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
	}
	.QualsList::before {
		@include CardBeforeStyles;
	}
}

.PillList {
	font-size: 1rem;
	background-image: linear-gradient(to right bottom, #5a3795, #3e2d65);
	padding: 0.2rem 0.8rem;
	border-radius: 999px;
}
.ExpTitle {
	font-size: 1.2rem;
	color: Colours.$lightBlue;
}

@media (max-width: 1050px) {
	.Content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100dvw;
	}
}
@media (max-width: 550px) {
	.LeftColum {
		width: 300px;
	}
	.RightColum {
		width: 300px;
	}
	.AboutCard {
		width: calc(300px - 2rem);
	}
	.Experience {
		width: calc(300px - 2rem);
	}
	.SkillsCard {
		width: calc(300px - 2rem);
	}
	.QualificationsCard {
		width: calc(300px - 2rem);
	}
	.CardTitle {
		font-size: 1.8rem;
	}
}
