@use "../Base";

.SectionContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 15vh;
	flex-direction: row;
	height: 85vh;
	width: 85vw;
	border: red 2px solid;
}
@media (max-width: 1650px) {
	.SectionContainer {
		flex-direction: column;
		height: fit-content;
	}
}

.SkillsAndQualificationsContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 77vh;
}

.SkillsQualSeparator {
	min-height: 2vh;
}

.AboutCard {
	width: 40vw;
	height: 77vh;
}

.SkillsCard {
	width: 30vw;
	height: 37.5vh;
}

.QualificationsCard {
	width: 30vw;
	height: 37.5vh;
}

.cardTitle {
	font-size: 5rem;
	margin-top: 1rem;
}
