@use "../Colours";

.ContactsHeader {
	padding-top: 15vh;
}
.SectionContainer {
	border: red 2px solid;
	height: 100vh;
	width: 85vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: Colours.$backgroundDark;
}

.ContactsListContainer {
	display: grid;
	grid-template-columns: 1fr;
	border: red 2px solid;
	gap: 1rem;

	width: 30vw;
	min-height: fit-content;
}
.ContactsLogos {
	width: 30px;
	height: 30px;
}
.ContactsInfo {
	border: red 2px solid;
}

.ContactCardContents {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 15rem;
	height: 4rem;
	padding-left: 0rem;
	text-decoration: none;
	color: white;
}

.ContactTitle {
	font-size: 2rem;
}
