@use "../Colours";
.Card {
	display: flex;
	align-items: flex-start;
	background-color: Colours.$orange;
	border-radius: 3rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	width: min-content;
	height: min-content;
	transition: all 0.4s ease-in-out;
}
.Card:hover {
	transform: scale(1.2);
	box-shadow: 0 0px 8px Colours.$whiteSkin;
}
.Background {
	border-radius: 3rem;
	background-color: white;
}
