.SectionContainer {
	border: red 2px solid;
	height: 80vh;
	width: 70vw;
	display: flex;
	justify-content: center;
}

.ContactsListContainer {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	border: red 2px solid;
	gap: 1rem;
	height: 20vh;
	width: 50vw;
}
.ContactsLogos {
	width: 30px;
	height: 30px;
}
.ContactsInfo{
	border: red 2px solid;
}