@use "../Colours";

.Card {
	width: min-content;
	height: min-content;
	background: Colours.$backgroundDark;
	min-height: fit-content;
	min-width: fit-content;

	box-shadow: 0 0.2rem 0.8rem 0.1rem Colours.$lightBlue;

	transition: all 0.3s ease-out;
	text-decoration: none;
	color: white;
	position: relative;
	display: flex;
	align-items: flex-start;
	border-radius: 2rem;
	overflow: hidden;
}

.Card:hover {
	transform: scale(1.005);
	border: 0;
	box-shadow: 0 0.2rem 0.8rem 0.3rem Colours.$lightBlue;
}
