@use "../Colours";

.Card {
	width: min-content;
	height: min-content;
	background: Colours.$backgroundLighterDark;
	min-height: 0;
	box-shadow: 0 10px 16px Colours.$green;
	transition: all 0.3s ease-out;
	text-decoration: none;
	color: white;
	position: relative;
	display: flex;
	align-items: flex-start;
	border-radius: 2rem;
}

.Card:hover {
	transform: scale(1.005);
	// box-shadow: 0 24px 36px Colours.$green, 0 24px 46px Colours.$green;
	color: Colours.$green;
	border: 0;
}
