@use "../Colours";

.Card {
	width: min-content;
	height: min-content;
	background: Colours.$backgroundDark;
	min-height: fit-content;
	min-width: fit-content;
	// box-shadow: 0 0 9rem 3rem Colours.$lightPurple;
	transition: all 0.3s ease-out;
	text-decoration: none;
	color: white;
	position: relative;
	display: flex;
	align-items: flex-start;
	border-radius: 2rem;
	overflow: hidden;
}

.Card:hover {
	transform: scale(1.005);
	color: Colours.$green;
	border: 0;
	box-shadow: 0 10px 16px Colours.$green;
}
