@use "../../baseCSS/Colours";
@use "../../baseCSS/Text";

.PageContainer {
	display: flex;
	width: 100dvw;
	margin: 0;
	padding: 0;
  background-color: Colours.$basebg;
}

.PageContent {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: flex-start;
}
.Section1Content{
  height: 100%;
  width: 100%;
	display: flex;
	align-items: flex-start;
  justify-content: center;
  flex-direction: column;
padding-bottom: 5rem;
}
.SectionContainer {
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
  
.Titlewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
align-self: flex-start ;
}
.Titlewrapper h1.Title {
  position: relative;
  font-weight: 800;
  font-size: Text.$text2XL;
  font-family: "Cyber";
  text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
  color: white;
  margin-block: 0;
  margin: 0;
  overflow: visible; 
}
.TitleUnderLine{
  height: 5px;
  width: 400px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(
      to left,
    transparent 0%,
    Colours.$lightBlueGlow 80%,
    white 100%,
    transparent
  );
  flex-shrink: 0;

}
.AboutMeParagraphTitle{
  margin-block: 0;
  font-size: 2.2rem;
}
.stack {
  display: grid;
  grid-template-columns: 1fr;
}
.Text{
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-block: 0;
  width: 600px;
  font-size: Text.$textXXXS; 
	color: white;
}
.PillList {
	font-size: 1rem;
	background-image: linear-gradient(to right bottom, Colours.$solidBlue, #00a0fa);
	padding: 0.2rem 0.8rem;
	border-radius: 999px;
	color: white;
}
.SkillsList {
  // @include CardMainContentStyles;
  width: 600px;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-block: 0;
  padding-inline: 0;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: white;
}
.ExpTitle{
  padding-bottom: 1.5rem;
  margin-block: 0;
  width: 600px;
  font-size: Text.$textXS; 
  color: Colours.$lightBlue;
}



@media(max-width: 900px){
  .PageContainer {
    flex-direction: column;
    align-items: center;

	}
  .PageContent {
    width: 100dvw;
  }
  .SectionContainer {
    align-items: center;
    justify-content: flex-start;
    height: calc(100lvh - 64px);
//  overflow-y: scroll;
    width: 100dvw;
  }
  .Titlewrapper {
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .Titlewrapper h1.Title {
    font-size: 4.4rem;
  }
  .Section1Content{
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 0;
  }
  .AboutMeParagraphTitle{
    font-size: 2rem;
    margin-top: min(3dvh, 1.5rem);
  }
  .TitleUnderLine{
    width: max(300px, 50dvw);
  }
  .Text{
    padding-left: 0;
    width: 80dvw;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  .ExpTitle{
    text-align: center;
    width: 80dvw;
  }
  .SkillsList {
    padding-left: 0;
    padding-bottom: 1rem;
    width: 95dvw;
    justify-content: center;
    gap: 1rem;
  }
  .PillList {
    font-size: 0.85rem;
    padding: 0.2rem 0.6rem;
  }
}

@media screen and (max-width: 450px) and (max-height: 775px){
  .Titlewrapper{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .Titlewrapper h1.Title {
    font-size: 3.4rem;
  }
  .ExpTitle{
    width: 92dvw;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }
  .AboutMeParagraphTitle{
    font-size: 1.6rem;
    margin-top: min(3dvh, 1rem);
  }
  .Text{
    width: 92dvw;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }
}









// .stack span {
//   font-weight: bold;
//   grid-row-start: 1;
//   grid-column-start: 1;
//   font-size: 4rem;
//   --stack-height: calc(100% / var(--stacks) - 1px);
//   --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
//   --clip-top: calc(var(--stack-height) * var(--index));
//   --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
//   clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
//   animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
// }

// .stack span:nth-child(odd) { --glitch-translate: 8px; }
// .stack span:nth-child(even) { --glitch-translate: -8px; }

// @keyframes stack {
//   0% {
//     opacity: 0;
//     transform: translateX(-50%);
//     text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
//   };
//   60% {
//     opacity: 0.5;
//     transform: translateX(50%);
//   }
//   80% {
//     transform: none;
//     opacity: 1;
//     text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
//   }
//   100% {
//     text-shadow: none;
//   }
// }

// @keyframes glitch {
//   0% {
//     text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
//     transform: translate(var(--glitch-translate));
//   }
//   2% {
//     text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
//   }
//   4%, 100% {  text-shadow: none; transform: none; }
// }