@use "../../baseCSS/Colours";
@use "../../baseCSS/Text";

.PageContainer {
	display: flex;
	width: 100dvw;
	min-width: 325px;
	margin: 0;
	padding: 0;
background-color: Colours.$basebg;
}
.PageContent {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start;
}

  
.Titlewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;

}
.Titlewrapper h1.Title {
  position: relative;
  font-weight: 800;
  font-size: Text.$text2XL;
  font-family: "Cyber";
  text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
  color: white;
  margin-block: 0;
  margin: 0;
  overflow: visible; 
}
