@use "../Colours";

.Navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 7dvh;
	background-color: Colours.$neonPurple;
	z-index: 1;
}

.LinkContainer {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.MainLinks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
}

.Links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-align: center;
	font-size: 3rem;
	transition: background-color 0.3s ease;
	height: 100%;
	&:hover {
		background-color: Colours.$neonPurpleGlow;
	}
}
.Cv {
	margin-left: auto;
	width: 15%;
	background-color: Colours.$solidBlue;
}
