@use "../Colours";

.Navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	width: 20%;
	min-width: 300px;
	height: 100svh;
	background-color: Colours.$backgroundDark;
	z-index: 1;
}

.LinkContainer {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	transition: width 0.4s ease;
	background-color: Colours.$backgroundPurple;
}

.Links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-align: center;
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	width: auto;
	max-width: 150px;
	height: 100%;
	cursor: pointer;
	border-radius: 3rem;
	transition: 0.2s cubic-bezier(0.5, 0.25, 0, 1);
	color: white;
	&:hover {
		color: Colours.$lightBlue;
		background-color: Colours.$backgroundLighterDark;
	}
}

.Cv {
	background-color: Colours.$solidBlue;
	border-radius: 3rem;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s cubic-bezier(0.5, 0.25, 0, 1);
	&:hover {
		color: Colours.$backgroundDark;
		background-color: #f26e3f;
	}
}
@media (max-width: 1600px) {
	.LinkContainer {
		width: 60%;
	}
}
@media (max-width: 1300px) {
	.LinkContainer {
		width: 80%;
	}
}
@media (max-width: 550px) {
	.LinkContainer {
		width: 95%;
	}
	.Links,
	.Cv {
		border-radius: 1.2rem;
		font-size: 1.2rem;
	}
}
