@use "../Colours";

.Navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 7dvh;
	background-color: Colours.$backgroundDark;
	z-index: 1;
}

.LinkContainer {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.MainLinks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 45%;
	height: 100%;
}

.Links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-align: center;
	font-size: 1.5rem;
	transition: background-color 0.3s ease;
	height: 100%;
	cursor: pointer;
	border-radius: 3rem;
	transition: 0.4s cubic-bezier(0.5, 0.25, 0, 1);
	&:hover {
		color: Colours.$lightBlue;
		background-color: Colours.$backgroundLighterDark;
	}
}

.Links.active {
	color: Colours.$neonPurple;
}
.Cv {
	margin-left: auto;
	margin-right: 1.5rem;
	width: 7%;
	background-color: Colours.$solidBlue;
	border-radius: 3rem;
}
