@use "../Colours";

.WelcomeScreenContainer {
	width: 100%;
	height: 93dvh;
	background-color: Colours.$backgroundDark;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	text-align: center;
}

.Name {
	font-weight: 800;
	font-size: 6rem;
	font-family: "Cyber";
	text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
	z-index: 1;
	display: flex;
	margin-top: 6rem;
	margin-bottom: 2rem;
}

.Job {
	font-size: 2.5rem;
	color: Colours.$lightBlue;
	text-shadow: 0 0 0.2rem Colours.$lightBlueGlow;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.Animation {
	width: 500px;
	height: 400px;
}

@media (max-width: 700px) {
	.Name {
		font-size: 4rem;
	}
	.Job {
		font-size: 1.7rem;
	}
	.Animation {
		width: 400px;
		height: 350px;
	}
}
