@use "../../baseCSS/Colours";
.Card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: Colours.$tropicalSea;
	border-radius: 50%;
	box-shadow: 0 0 8px 1px Colours.$lightBlueGlow;
	width: min-content;
	height: min-content;
	transition: all 0.2s ease-in-out;
}
.Card:hover {
	transform: scale(1.02) translate(0, -3px);
	box-shadow: 0 0 6px 2px Colours.$lightBlueGlow;
}
