@use "../../baseCSS/Colours";
@use "../../baseCSS/Text";
.WelcomeScreenContainer {
	width: 100%;
	height: 100svh;

	//background-color: Colours.$backgroundLighterDark;
	// 	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	// 	position: relative;
	// 	flex-direction: column;
	// 	text-align: center;
}

// .Name {
// 	font-weight: 800;
// 	font-size: Text.$text2XL;
// 	font-family: "Cyber";
// 	text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
// 	z-index: 1;
// 	display: flex;
// 	justify-content: center;
// 	margin-top: 5rem;
// 	margin-bottom: 2rem;
// 	color: white;
// 	max-width: 100%;
// }

.Job {
	font-size: 2.8rem;
	color: Colours.$lightBlue;
	text-shadow: 0 0 0.2rem Colours.$lightBlueGlow;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.Animation {
	width: 500px;
	height: 400px;
}
.WelcomeScreenBox {
	width: 65rem;
	height: 80svh;
	display: grid;
	place-content: center;
	overflow: hidden;
	// background-color: Colours.$backgroundDark;
	text-align: center;
	--border-angle: 0turn; // For animation.
	--main-bg: conic-gradient(
		from var(--border-angle),
		#061d39,
		#061d39
	); //this is the radar effect gradient, set to just be bg

	border: solid 5px transparent;
	border-radius: 2em;
	--gradient-border: conic-gradient(
		from var(--border-angle),
		transparent 25%,
		#f26e3f,
		#f03554 99%,
		transparent
	);

	background: 
	  // padding-box clip this background in to the overall element except the border.
		var(--main-bg) padding-box,
		// border-box extends this background to the border space
		var(--gradient-border) border-box,
		// Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
		var(--main-bg) border-box;

	background-position: center center;

	animation: bg-spin 5s linear infinite;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}


.Glitchwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
  .Glitchwrapper h1.Glitch {
    // color: white;
    // font-family: sans-serif;
    // font-weight: 800;
    // font-size: 100px;
    padding: 30px;
    position: relative;
    font-weight: 800;
    font-size: Text.$text2XL;
    font-family: "Cyber";
    text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
    color: white;
    margin-block: 0;
    
  }
  .Glitchwrapper h1.Glitch::before, .Glitchwrapper h1.Glitch::after {
    // padding: 5px;
    color: white;
    content: "Benito Varghese";
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: black;
    overflow: hidden;
    top: 27px;
  }
  .Glitchwrapper h1.Glitch::before {
    left: 3px;
    text-shadow: -2px 0 Colours.$loadingOrange;
    animation-name: Glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: reverse-alternate;
    animation-fill-mode: forwards;
  }
  .Glitchwrapper h1.Glitch::after {
    left: -3px;
    text-shadow: -2px 0 Colours.$loadingRed;
    animation-name: Glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: reverse-alternate;
    animation-fill-mode: forwards;
  }
  
  @keyframes Glitch-animation-1 {
    0% {
      clip: rect(142px, 1000px, 81px, 30px);
    }
    5% {
      clip: rect(97px, 1000px, 108px, 30px);
    }
    10% {
      clip: rect(21px, 1000px, 131px, 30px);
    }
    15% {
      clip: rect(113px, 1000px, 34px, 30px);
    }
    20% {
      clip: rect(127px, 1000px, 111px, 30px);
    }
    25% {
      clip: rect(1px, 1000px, 12px, 30px);
    }
    30% {
      clip: rect(97px, 1000px, 53px, 30px);
    }
    35% {
      clip: rect(63px, 1000px, 103px, 30px);
    }
    40% {
      clip: rect(98px, 1000px, 16px, 30px);
    }
    45% {
      clip: rect(132px, 1000px, 53px, 30px);
    }
    50% {
      clip: rect(87px, 1000px, 50px, 30px);
    }
    55% {
      clip: rect(113px, 1000px, 81px, 30px);
    }
    60% {
      clip: rect(113px, 1000px, 122px, 30px);
    }
    65% {
      clip: rect(39px, 1000px, 82px, 30px);
    }
    70% {
      clip: rect(45px, 1000px, 21px, 30px);
    }
    75% {
      clip: rect(91px, 1000px, 141px, 30px);
    }
    80% {
      clip: rect(5px, 1000px, 51px, 30px);
    }
    85% {
      clip: rect(6px, 1000px, 85px, 30px);
    }
    90% {
      clip: rect(135px, 1000px, 104px, 30px);
    }
    95% {
      clip: rect(65px, 1000px, 93px, 30px);
    }
    100% {
      clip: rect(121px, 1000px, 45px, 30px);
    }
  }
  @keyframes Glitch-animation-2 {
    0% {
      clip: rect(111px, 1000px, 62px, 30px);
    }
    5% {
      clip: rect(148px, 1000px, 107px, 30px);
    }
    10% {
      clip: rect(125px, 1000px, 104px, 30px);
    }
    15% {
      clip: rect(85px, 1000px, 105px, 30px);
    }
    20% {
      clip: rect(95px, 1000px, 140px, 30px);
    }
    25% {
      clip: rect(13px, 1000px, 141px, 30px);
    }
    30% {
      clip: rect(63px, 1000px, 116px, 30px);
    }
    35% {
      clip: rect(86px, 1000px, 120px, 30px);
    }
    40% {
      clip: rect(100px, 1000px, 42px, 30px);
    }
    45% {
      clip: rect(49px, 1000px, 134px, 30px);
    }
    50% {
      clip: rect(38px, 1000px, 26px, 30px);
    }
    55% {
      clip: rect(31px, 1000px, 34px, 30px);
    }
    60% {
      clip: rect(138px, 1000px, 123px, 30px);
    }
    65% {
      clip: rect(11px, 1000px, 65px, 30px);
    }
    70% {
      clip: rect(106px, 1000px, 147px, 30px);
    }
    75% {
      clip: rect(25px, 1000px, 35px, 30px);
    }
    80% {
      clip: rect(16px, 1000px, 140px, 30px);
    }
    85% {
      clip: rect(84px, 1000px, 44px, 30px);
    }
    90% {
      clip: rect(113px, 1000px, 137px, 30px);
    }
    95% {
      clip: rect(37px, 1000px, 38px, 30px);
    }
    100% {
      clip: rect(14px, 1000px, 92px, 30px);
    }
  }
  