@use "../../baseCSS/Colours";

.WelcomeScreenContainer {
	width: 100%;
	height: 100svh;
	background-color: Colours.$backgroundLighterDark;
	// 	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	// 	position: relative;
	// 	flex-direction: column;
	// 	text-align: center;
}

.Name {
	font-weight: 800;
	font-size: 6rem;
	font-family: "Cyber";
	text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
	z-index: 1;
	display: flex;
	justify-content: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
	color: white;
	max-width: 100%;
}

.Job {
	font-size: 2.5rem;
	color: Colours.$lightBlue;
	text-shadow: 0 0 0.2rem Colours.$lightBlueGlow;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.Animation {
	width: 500px;
	height: 400px;
}
.WelcomeScreenBox {
	width: 65rem;
	height: 80svh;
	display: grid;
	place-content: center;
	overflow: hidden;
	// background-color: Colours.$backgroundDark;
	text-align: center;
	--border-angle: 0turn; // For animation.
	--main-bg: conic-gradient(
		from var(--border-angle),
		#272138,
		#272138
	); //this is the radar effect gradient, set to just be bg

	border: solid 5px transparent;
	border-radius: 2em;
	--gradient-border: conic-gradient(
		from var(--border-angle),
		transparent 25%,
		#f26e3f,
		#f03554 99%,
		transparent
	);

	background: 
	  // padding-box clip this background in to the overall element except the border.
		var(--main-bg) padding-box,
		// border-box extends this background to the border space
		var(--gradient-border) border-box,
		// Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
		var(--main-bg) border-box;

	background-position: center center;

	animation: bg-spin 5s linear infinite;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

@media (max-width: 1100px) {
	.WelcomeScreenBox {
		width: 650px;
	}
	.Name {
		font-size: 5rem;
		margin-block: 0;
	}
	.Job {
		font-size: 1.7rem;
		margin-block: 0;
	}
	.Animation {
		width: 400px;
		height: 350px;
	}
}

@media (max-width: 700px) {
	.WelcomeScreenBox {
		width: 365px;
	}
	.Name {
		font-size: 3rem;
	}
	.Job {
		font-size: 1.6rem;
	}
	.Animation {
		width: 360px;
		height: 350px;
	}
}

@media (max-width: 400px) {
	.WelcomeScreenBox {
		width: 300px;
	}
	.Name {
		font-size: 3rem;
	}
	.Job {
		font-size: 1.5rem;
	}
	.Animation {
		width: 300px;
		height: 300px;
	}
}
