@use "../../baseCSS/Colours";
@use "../../baseCSS/Text";
@use "sass:math";
.WelcomeScreenContainer {
	width: 100%;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;

}

@keyframes jobAni{
	0%{
		opacity: 0.1;
	}
	100%{
		opacity: 1;
		text-shadow: 0 0 0.3rem Colours.$lightBlueGlow;
	}
}
.Animation {
	width: 500px;
	height: 400px;
}
.WelcomeScreenBox {
	width: calc(100% - 10rem);
	height: 80svh;
	display: grid;
	place-content: center;
	overflow: hidden;
	text-align: center;
	--border-angle: 0turn; // For animation.
	--main-bg: conic-gradient(
		from var(--border-angle),
		#061d39,
		#061d39
	); //this is the radar effect gradient, set to just be bg

	border: solid 5px transparent;
	border-radius: 2em;
	--gradient-border: conic-gradient(
		from var(--border-angle),
		transparent 25%,
		#f26e3f,
		#f03554 99%,
		transparent
	);

	background: 
	  // padding-box clip this background in to the overall element except the border.
		var(--main-bg) padding-box,
		// border-box extends this background to the border space
		var(--gradient-border) border-box,
		// Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
		var(--main-bg) border-box;

	background-position: center center;

	animation: bg-spin 5s linear infinite;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}


.Titlewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
  }
  .Titlewrapper h1.Title {
    position: relative;
    font-weight: 800;
    font-size: Text.$text2XL;
    font-family: "Cyber";
    text-shadow: 0 0 0.5rem Colours.$lightBlueGlow;
    color: white;
    margin-block: 0;
    margin: 0;
    overflow: visible; 
  }

.Titlewrapper h1.Title::after{
  content: "Benito Varghese";
  display: block;
  position: absolute;
  top: 0;
  text-shadow: 0 0 0.3rem rgba(255, 166, 0, 0);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: Colours.$lightBlue;
    animation-name: Name-animation;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
  }

  

  
  
  @keyframes Name-animation{
	$steps: 50;
	
	@for $i from 0 through $steps {
	  $step-percentage: calc(percentage(math.div($i, $steps)));
	  $position2: $i * math.div(100%, $steps) - 2;
	//   $position1: calc(99% - #{$position2});
  
	  #{$step-percentage} {
		clip-path: inset(0px #{$position2} 0px 0);
	  }
	}
  }

.Job {
	font-size: 2.8rem;
	color: Colours.$lightBlue;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	animation: jobAni 2s linear forwards;
}
@media (max-width: 1100px) {
	.Titlewrapper h1.Title  {
		font-size: Text.$textXL;
	}
	.Job{
		font-size: Text.$textMD;
	}
}

@media (max-height: 900px) {
	.Titlewrapper h1.Title  {
		font-size: Text.$textXL;
	}
	.Job{
		font-size: Text.$textMD;
	}
}
@media screen and (max-height: 900px) and (max-width: 1225px){
	.Titlewrapper h1.Title  {
		font-size: 3.5rem;
	}
	.Titlewrapper h1.Title::after{
		content: "Benito Varghese";
		display: block;
		position: absolute;
		top: 0;
		text-shadow: 0 0 0.3rem rgba(255, 166, 0, 0);
		  -webkit-text-stroke-width: 1px;
		  -webkit-text-stroke-color: Colours.$lightBlue;
		  animation-name: Name-animation;
		  animation-duration: 3.5s;
		  animation-timing-function: linear;
		  animation-delay: 0s;
		  animation-iteration-count: 1;
		  animation-fill-mode: forwards;
		  animation-direction: alternate-reverse;
	}
	.Job{
		font-size: Text.$textSM;
	}
}
@media (max-width: 900px) {
	.WelcomeScreenContainer{
    	height: calc(var(--viewport-height, 100dvh) - 64px);
		// margin-top: 64px;
	}
	.WelcomeScreenBox {
		width: calc(100dvw - 3rem);
		height: calc(var(--viewport-height, 100dvh) - 7rem);
		// margin-top: 1rem;
	}
	.Titlewrapper h1.Title  {
		font-size: 3.5rem;
	}
	.Titlewrapper h1.Title::after{
		content: "Benito Varghese";
		display: block;
		position: absolute;
		top: 0;
		text-shadow: 0 0 0.3rem rgba(255, 166, 0, 0);
		  -webkit-text-stroke-width: 1px;
		  -webkit-text-stroke-color: Colours.$lightBlue;
		  animation-name: Name-animation;
		  animation-duration: 3.5s;
		  animation-timing-function: linear;
		  animation-delay: 0s;
		  animation-iteration-count: 1;
		  animation-fill-mode: forwards;
		  animation-direction: alternate-reverse;
	}
	  
	.Job{
		font-size: Text.$textSM;
	}
	.Animation {
		width: calc(100dvw - 5rem);
		min-width: 200px;
		min-height: 200px;
		height: calc((45 / 100) * var(--viewport-height, 100dvh));	
	}
}